
  @font-face {
    font-family: 'aqqxs';
    font-display: swap;
    src: url('../fonts/by_aqqxs.6913918b.woff2') format("woff2");
  }
  body {
    font-family: 'aqqxs';
  }
  

  #footer {
    /* 与背景渐变效果一致*/
    background: rgba(0, 0, 0, 0);
  }
  #footer:before {
    background-color: rgba(0, 0, 0, 0);
}
  #footer .copyright{
    color: #2F3C4B
  }
  #footer .footer_custom_text{
    color: #2F3C4B;

  }


