/* 滚动条 */


/* 滚动条 */

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #03989E;
  /*background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);*/
  
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #03989E;
}



/* 顶部导航栏 */


/* 博主昵称颜色 */
.author-info__name {
    color: #ff7242;
}



[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(44, 50, 60, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(44, 50, 60, 0.5)!important;
    }


  #footer {
      /* 与背景渐变效果一致*/
      background: rgba(0, 0, 0, 0);
  }
  
  #footer:before {
      background-color: rgba(0, 0, 0, 0);
  }